USE [C127_carlosv.12044_gmail]
GO
/****** Object:  UserDefinedTableType [dbo].[BatchSkills]    Script Date: 6/3/2023 9:49:21 PM ******/
CREATE TYPE [dbo].[BatchSkills] AS TABLE(
	[Name] [nvarchar](128) NOT NULL
)
GO
