USE [C127_carlosv.12044_gmail]
GO
/****** Object:  UserDefinedTableType [dbo].[BatchJobSkills]    Script Date: 6/3/2023 9:49:21 PM ******/
CREATE TYPE [dbo].[BatchJobSkills] AS TABLE(
	[Skill] [nvarchar](50) NOT NULL
)
GO
