USE [C127_carlosv.12044_gmail]
GO
/****** Object:  Table [sab].[StudentProfiles]    Script Date: 6/3/2023 9:49:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sab].[StudentProfiles](
	[StudentId] [int] NOT NULL,
	[EnrollDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
